/* ==========================================
   クラス content 内の子孫セレクター
   ========================================== */
/* contentクラスの中にあるh2要素 */
.content h2 {
  font-size: 32px;
  color: #6B8E23;
}

/* contentクラスの中にあるp要素 */
.content p {
  font-size: 20px;
  color: #20B2AA;
}

/* ==========================================
   クラス side 内の隣接セレクター
   ========================================== */
/* sideクラスの中にあるh3要素の「真下（直後）にあるp要素」のみを指定 */
.side h3 + p {
  color: red;
}